<div class="container">
	<img src="https://lh3.googleusercontent.com/3yiENnWpn_jdTb5JPTUZ1RWgPMO0QdthkM7SxWSodH0xz0F0jw3tp46sq2pHFMdNUI2f4qnUikYFEz1WrPwO0guVgzTh0b16328x5j_roRJW67Lx_hI3kSfNEnoTOZadu181AVsqu8leJsI-JI_pnDlEvtjLweAMAU-hQdzMBFLS1zRr8H9kVX7EpyWaXzCly1Ooc4RrBY9FjnbjxDkK4Y3nlo-sR2Cpvog-nsulDVpnh3Ktr1Y3cTig9aNog5M35-96t2IbYqlV5Uw-VF3NEqBIjzrhr92_dyXYx6cLQ0lU7YKLI-DQ1Ug0uqBM_taxQ1AkFKuJcfXjk8II-iAgj3A0EM-7t0Urb7BOssFfySEaOgc21HEgUiuXiVEgB8MeA85zT-e1fRoCj33b4XrhpJ-A7kUH5kveCpIjFIS95LrnIbSogFengsZtKTnBNFl-yRQT3OIWdYDTuDR1bfxqpENdmbKtaRPA59z0KrpsK49vHlGTXJQtWtnw3sfOqVOJI5XgNyKetClQ-0n3u8qBr9BdLsPDDJXccwUp4sTkRGj8s1Tfrl-3RrNtOGWuKczg1hb3igGx8ysHYA8PicqCvrIXc-MCIYhGvYm99YBdQ0XFt-ARCmNcTP42I0WlBjyj6aQSEZ0W37vnKbmLYBeGZjzYA60S55J3K9HPqFOq5tUOZsCoBJN5Xan1BxYsrA=w494-h657-no?authuser=0" alt="FotoPerfil" width="25%" />
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
		{%- endif -%}
	</ul>
</div>
